@import "@/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "@/styles/components.css";
@import "@/styles/errors.css";
@import "@/styles/projects.css";
@import "@/styles/document.css";
@import "@/styles/editor.css";
@import "@/styles/panel.css";

:root {
    font-family: "Times New Roman", serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --bg-color: rgba(255, 255, 255, 0.87);
    --text-color: #242424;
    --button-bg: transparent;
    --button-border: #48628a;
    --button-color: #546b8d;
    --button-hover-bg: #48628a;
    --button-hover-color: #ffffff;
}

:root[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #213547;
    --button-bg: transparent;
    --button-border: #48628a;
    --button-color: #546b8d;
    --button-hover-bg: #48628a;
    --button-hover-color: #ffffff;
}

:root[data-theme="dark"] {
    --bg-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
    --button-bg: transparent;
    --button-border: #48628a;
    --button-color: #546b8d;
    --button-hover-bg: #48628a;
    --button-hover-color: #ffffff;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--button-hover-bg);
    text-decoration: none;
}

.button {
    background-color: var(--button-bg);
    color: var(--button-color);
    border: 2px solid var(--button-border);
    height: 40px;
    padding: 5px 15px;
    text-decoration: none;
}

.button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-color);
}

.button:focus,
.button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.input {
    background-color: var(--button-bg);
    color: var(--button-color);
    border: 2px solid var(--button-border);
    padding: 5px 15px;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    appearance: none;
    background-clip: padding-box;
}

.input:focus,
.input:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.select {
    background-color: var(--button-bg);
    color: var(--button-color);
    padding: 1px 30px 1px 1px;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    appearance: none;
    background-clip: padding-box;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23546b8d" height="16" viewBox="0 0 20 20" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7.293 7.293a1 1 0 011.414 0L10 8.586l1.293-1.293a1 1 0 111.414 1.414l-2 2a1 1 0 01-1.414 0l-2-2a1 1 0 010-1.414z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 18px 18px;
}

.checkbox {
    background-color: var(--button-bg);
    color: var(--button-color);
    border: 2px solid var(--button-border);
    text-decoration: none;
}

.checkbox:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-color);
}

.checkbox:focus,
.checkbox:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
