@import "@/node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "@/styles/components.css";
@import "@/styles/errors.css";
@import "@/styles/projects.css";

:root {
    font-family: "Times New Roman", serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --bg-color: rgba(255, 255, 255, 0.87);
    --text-color: #242424;
    --button-bg: transparent;
    --button-border: #48628a;
    --button-color: #546b8d;
    --button-hover-bg: #48628a;
    --button-hover-color: #ffffff;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: var(--button-hover-bg);
    text-decoration: none;
}

.button {
    background-color: var(--button-bg);
    color: var(--button-color);
    border: 2px solid var(--button-border);
    height: 40px;
    padding: 5px 15px;
    text-decoration: none;
}

.button:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-color);
}

.button:focus,
.button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
